<html>
  <head>
    <title>Monster Codex</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <button id="newCard" class="bookmark">Add a Codex</button>
    <div class="book">
      <div class="left-page">
        <div id="cardForm" class="cardForm" style="display: none">
          <form method="POST" action="/add-monster" enctype="multipart/form-data">
            <label for="name">Monster Name:</label>
            <input type="text" id="name" name="name" required />
          
            <label for="region">Location of occurrence:</label>
            <input type="text" id="region" name="region" />
          
            <label for="image">Upload Monster Image:</label>
            <input type="file" id="image" name="image" required />
          
            <label for="remarks">Remarks:</label>
            <textarea id="remarks" name="remarks"></textarea>
          
            <div class="form-buttons">
              <button type="submit" class="btn">Upload</button>
              <button type="button" id="cancel-form" class="btn">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-page">
        <div class="messages-container">
          <% allCards.forEach((newCard) => { %>
          <div class="codex-card">
            <div class="name"><%= newCard.name %></div>
            <p class="region"><%= newCard.region %></p>
            <p class="remarks"><%= newCard.remarks %></p>
            <% if (newCard.imgUrl) { %>
            <img src="<%= newCard.imgUrl %>" />
            <% } %>
          </div>
          <% }); %>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("newCard").addEventListener("click", function () {
        document.getElementById("cardForm").style.display = "block";
      });

      document
        .getElementById("cancel-form")
        .addEventListener("click", function () {
          document.getElementById("cardForm").style.display = "none";
        });
    </script>
  </body>
</html>
